<!DOCTYPE html>
<html>
  <head>
    <title>Chat</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <div class="container">
        <!-- TODO add validation and error checking -->
        <% if (data) { %>
            <div class="posts" id="js-posts">
            <% data.posts.forEach(function(post){ %>
                <% 
                    const user = data.users.find((el) => el.id == post.user);
                    const message = post.message;
                %>
                <div class="post">
                    <!-- TODO add backside - velocity for animations???-->
                    <div class="post__image-wrapper">
                        <img class="post__image" src="/images/<%= user ? `${user.username}.jpg` : 'better.jpg' %>">
                    </div>
                    <div class="post__content">
                        <div class="post__header">
                            <div class="post__author">
                                <%= user.real_name %> - @<%= user.username %>
                            </div>
                            <div class="post__timestamp">
                                <span class="post__time-from-now"><%= moment.unix(post.ts).fromNow() %></span>
                            </div>
                        </div>
                        <div class="post__message  js-post-message">
                            <div class="post__message-front">
                                <%= message %>
                            </div>
                            <div class="post__message-back">
                                <span><i class="material-icons">calendar_today</i> active since <%= moment.unix(post.ts).format("MMM D, Y") %></span> 
                            </div>
                        </div>
                    </div>
                </div>
            <% }); %>
            </div>
        <% } %>

        <div class="message-composer">
            <form class="message-composer__form" id="js-message-composer">
                <!-- TODO use JS to append character counter -->
                <!-- TODO post to api and also add to screen -->
                <div class="message-composer__character-count  js-character-count">140</div>
                <input class="message-composer__input  js-message" name="message" type="text" placeholder="what's happening?">
                <input class="message-composer__input  js-timestamp" type="hidden" name="ts">
                <button class="message-composer__send" type="submit"><i class="material-icons">send</i></button>
            </form>
        </div>

    </div>

    <script src="/js/main.js"></script>
  </body>
</html>
