<!DOCTYPE html>
<html>
  <head>
    <title>Chat</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <div class="container">
        <!-- TODO add validation and error checking -->
        <% if (data) { %>
            <div class="posts">
            <% data.posts.forEach(function(post){ %>
                <%#- include('user/show', {user: user}); %>
                <% 
                    const user = data.users.find((el) => el.id == post.user);
                    const message = post.message;
                %>
                <div class="post">
                    <!-- TODO add backside - velocity for animations???-->
                    <div class="post__image-wrapper">
                        <img class="post__image" src="/images/<%= user.username %>.jpg">
                    </div>
                    <div class="post__content">
                        <div class="post__header">
                            <div class="post__author">
                                <%= user.real_name %> - @<%= user.username %>
                            </div>
                            <div class="post__timestamp">
                                <span class="post__time-from-now"><%= moment.unix(post.ts).fromNow() %></span>
                                <span class="post__time"><%= moment.unix(post.ts).format("MMM D, Y HH:mm:ss") %></span>
                            </div>
                        </div>
                        <div class="post__message">
                            <%= message %>        
                        </div>
                    </div>
                </div>
            <% }); %>
            </div>
        <% } %>

        <div class="composer">
            <form action="" method="post">
                <!-- TODO use JS to append character counter -->
                <!-- TODO post to api and also add to screen -->
                <input type="text" placeholder="what's happening?">
                <button type="button"></button>
            </form>
        </div>

    </div>
  </body>
</html>
